* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.textWrapper {
  display: flex;
  gap: 20px;
}
.checkbox {
  width: 18px;
  height: 18px;
}
.delete {
  background-color: red;
  padding: 8px 12px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.delete:hover {
  opacity: 0.8;
}
.delete:active {
  transform: scale(0.9);
  opacity: 0.6;
}
.wrapper {
  padding: 25px;
  border: 1px solid gray;
}
.wrapper:nth-child(odd) {
  background-color: rgb(239, 239, 239);
}
@media screen and (max-width: 355px) {
  .wrapper {
    flex-direction: column;
    gap: 20px;
  }
}
